.dialog-container {
    position: relative;

    mat-progree-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
    }
}

.mlr-0 {
    margin: 0 24px 20px 24px;
    padding: 0;
}

.pt-20 {
    padding-top: 20px;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}